.btn-container {
  display: flex;
}

.btn-container .btn {
  width: calc(100% - 50px);
  border-radius: 10px 0 0 10px;
}

.btn h6 {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}

.btn-icon-container {
  background-color: #33569b;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 10px 10px 0;
  color: #fff;
}

@media (min-width: 576px) {
  .btn h6 {
    font-size: 18px;
  }

  .btn-icon-container {
    height: 70px;
    width: 70px;
  }

  .btn-container .btn {
    width: calc(100% - 70px);
  }
}
